---
layout: default
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="assets/css/styles.css">

        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <title>Extensión Universal</title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="#" class="nav__logo">Accesibilidad y Diseño Universal</a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="index.html#home" class="nav__link active">Inicio</a></li>
                        <li class="nav__item"><a href="index.html#about" class="nav__link">El Proyecto</a></li>
                        <li class="nav__item"><a href="index.html#skills" class="nav__link">Sobre nosotros</a></li>
                        <li class="nav__item"><a href="portfolio.html" class="nav__link">Avances</a></li>
                        <li class="nav__item"><a href="index.html#contact" class="nav__link">Contacto</a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>
    <!-- Main -->
    <div id="main" data-exif='{{ site.exif }}'>
        {% for image in site.static_files %}
        {% if image.path contains 'fulls' %}
        <article class="thumb">
            <a href="{{ site.baseurl }}{{ site.image_fulls_loc }}/{{ image.name }}" class="image">
                <img src="{{ site.baseurl }}{{ site.image_thumbs_loc }}/{{ image.name }}" alt=""
                     data-name="{{ image.name }}"/></a>
            <!--<h2></h2>
            <p></p>-->
        </article>
        {% endif %}
        {% endfor %}
    </div>

    <!-- Footer -->
    <footer id="footer" class="panel">
        <div class="inner split">
            <div>
                <section>
                    <h2>{{ site.footer.name }}</h2>
                    <p>{{ site.footer.bio }}</p>
                    <p>{{ site.footer.github }}</p>
                </section>
                <section>
                    <h2>Sponsor</h2>
                    <div class="ad">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <ins class="adsbygoogle"
                             style="display:block; text-align:center;"
                             data-ad-layout="in-article"
                             data-ad-format="fluid"
                             data-ad-client="ca-pub-1702577941194110"
                             data-ad-slot="9823584598"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                </section>
                <section>
                    <h2>Follow me on ...</h2>
                    <ul class="icons">
                        {% if site.social_urls.facebook %}
                            <li>
                                <a href="{{ site.social_urls.facebook }}" class="icon fa-facebook">
                                    <span class="label">Facebook</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if site.social_urls.twitter %}
                            <li>
                                <a href="{{ site.social_urls.twitter }}" class="icon fa-twitter">
                                    <span class="label">Twitter</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if site.social_urls.instagram %}
                            <li>
                                <a href="{{ site.social_urls.instagram }}" class="icon fa-instagram">
                                    <span class="label">Instagram</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if site.social_urls.dribbble %}
                            <li>
                                <a href="{{ site.social_urls.dribbble }}" class="icon fa-dribbble">
                                    <span class="label">Dribbble</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if site.social_urls.github %}
                            <li>
                                <a href="{{ site.social_urls.github }}" class="icon fa-github">
                                    <span class="label">GitHub</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if site.social_urls.linkedin %}
                            <li>
                                <a href="{{ site.social_urls.linkedin }}" class="icon fa-linkedin">
                                    <span class="label">LinkedIn</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </section>
                <p class="copyright">
                    &copy; {{ site.author }}. Design: {{ site.web_design }}
                </p>
            </div>
            <div>
                <section>
                    <h2>Get in touch</h2>
                    <form method="post" action="#">
                        <div class="field half first">
                            <input type="text" name="name" id="name" placeholder="Name"/>
                        </div>
                        <div class="field half">
                            <input type="text" name="email" id="email" placeholder="Email"/>
                        </div>
                        <div class="field">
                            <textarea name="message" id="message" rows="4" placeholder="Message"></textarea>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" value="Send" class="special"/></li>
                            <li><input type="reset" value="Reset"/></li>
                        </ul>
                    </form>
                </section>
            </div>
        </div>
    </footer>
</div>
